<div>
  <div class="barra-superior">
    <div class="container">
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="centrar">
          <input class="cuadro-busqueda" type="text" formControlName="movieName" placeholder="Busca una película">
          <button class="boton">Buscar</button>
        </div>
      </form>
    </div>
  </div>
  <div class="centrar-lista" *ngIf="searchResult.length > 0">
    <div style= "border: 1px solid black;   display: flex; flex-direction: column; align-items: center; justify-content: center;" *ngFor="let s of searchResult">
      <h2>{{s.original_title}}</h2>
      <div class="centrar-lista" *ngIf="s.poster_path || s.poster_path === null">
        <button class="boton" [routerLink]="'/movie/' + s.id">Detalles</button>
      </div>
    </div>
  </div>
  <div style="display: flex;" *ngIf="searchResult.length == 0">
    <h3>Ups! No hay resultados. Prueba con otra película</h3>
  </div>
  
</div>